# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../product\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\samesriv\Documents\GitHub\product\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
